#cy {
  height: 100%;
  width: 100%;
  background-color: #dededebd;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

#eat {
  position: absolute;
  left: 1em;
  top: 1em;
  font-size: 1em;
  z-index: -1;
  color: #c88;
}

body {
  /* background-color: red; */
}
