.card-actions {
  padding: 8px 8px;
}

.card-actions button {
  margin-bottom: 0;
}

.dependency-tag {
  margin: 0 3px;
  padding: 5px;
  background: #f5dd5c;
  border-radius: 3px;
  display: inline-flex;
}

.dependency-tag a {
  text-decoration: none;
  padding-right: 8px;
}

.refresh-action-div {
  display: inline-flex;
}

.refresh-action-div > *:not(:first-child) {
  margin-left: 10px;
}

.div-graph-dep-action {
  position: relative;
  z-index: 5;
}
